.country-selector select{
    padding: 8px;
    border: none;
}
.country-selector select:focus {
    outline: none
}

.country-selector {
    margin-top: 25vh;
}

@media screen and (max-width: 800px){
    .country-selector {
        margin-top: 24px;
    }   
}

